@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "PKMN Strict";
    src: url("./styles/fonts/pkmn_s.ttf") format("truetype");
}

.monster-ball {
    font-family: "PKMN Strict";
}